.about-section {
  text-align: center;

  max-width: 50%;
  justify-content: center;
  margin: auto;
}
.aboutus-heading {
  font-family: "Alex Brush", cursive;
  padding-top: 5px;
  letter-spacing: 2px;
  font-size: 4rem;
  font-weight: bold;
  color: black;
}
.aboutus-desc {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 20px;
  font-weight: 500;
}
