.form-heading {
  background-color: #c2f8cb;
  color: #5603ad;
}

input,
textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  background-color: #e6f8f9;
  font-size: 15px;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: #f81884;
  font-size: 18px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.btn {
  background-color: #04aa6d;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 10px;
}
.btn:hover {
  background-color: #45a049;
}
.form-section {
  border-radius: 5px;

  padding: 10px;
  text-align: center;
  height: 50%;
  margin-top: 20px;
}
.reservation-btn {
  background-color: #aa049c;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}
.reservation-btn:hover {
  background-color: #45a049;
}
